.clear{
    background-image: url("/assets/climat-clear.png");
    background-position: left;
    background-size: cover;
    height: 100%;
}

.clouds{
    background-image: url("/assets/climat-cloud.png");
    background-position: left;
    background-size: cover;
    height: 100%;
}

.drizzle{
    background-image: url("/assets/climat-drizzle.png");
    background-position: left;
    background-size: cover;
    height: 100%;
}

.dust{
    background-image: url("/assets/climat-dust.png");
    background-position: left;
    background-size: cover;
    height: 100%;
}

.rain{
    background-image: url("/assets/climat-rain.png");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.snow{
    background-image: url("/assets/climat-snow.png");
    background-position: left;
    background-size: cover;
    height: 100%;
}

.thunderstorm{
    background-image: url("/assets/climat-thunderstorm.png");
    background-position: left;
    background-size: cover;
    height: 100%;
}
