<mat-nav-list>
    <h2 class="mat-headline">Cities</h2>
    <a mat-list-item (click)="onClickMe($event)" *ngFor="let city of cities">{{city.address.county}}
    </a>
    <form [formGroup]="cityForm" (ngSubmit)="inputCity.blur()">
        <mat-form-field>
            <input #inputCity (blur)="onSubmit($event)" matInput placeholder="Add a city" formControlName="cityName">
            <mat-error *ngIf="cityForm.get('cityName').errors && cityForm.get('cityName').errors.minlength">Too
                short</mat-error>
            <mat-error *ngIf="cityForm.get('cityName').errors && cityForm.get('cityName').errors.maxlength">Too
                long</mat-error>
        </mat-form-field>
    </form>
</mat-nav-list>